<!doctype html>
<html>
	<head>
		<title>D05/ex03/</title>
		<style>
			table, td, th {
				border-collapse: collapse;
				border-style: solid;
				border: 1px solid
			}
		</style>
	</head>
	<body>
		<table>
			<tr>
				<th>Title</th>
				<th>Episode Nb</th>
				<th>Opening Crawl</th>
				<th>Director</th>
				<th>Producer</th>
				<th>Release Date</th>
				<th>Created</th>
				<th>Updated</th>
			</tr>
			{% for movie in movielist%}
			<tr>
				{% for elem in movie %}
				<td>{{elem}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</body>
</html>