[Unit]
Description=

[Service]
Type=simple
PIDFile=
User=asd
Group=asd
EnvironmentFile=
WorkingDirectory=/Users/min-kang/Documents/42Projects-Piscine_Python-Django/d08/
ExecStart=/Users/min-kang/Documents/42Projects-Piscine_Python-Django/d08/env/ --config /etc/l