{% extends "ex01/base.html" %}

{% block title %}
<title>Ex01: Django, framework web.</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/ex01/style1.css">
{% endblock %}

{% block content%}
<h2>History of Python-Django</h2>
<p>Django was created in the fall of 2003, when the web programmers at the Lawrence Journal-World newspaper, Adrian Holovaty and Simon Willison, began using Python to build applications. Jacob Kaplan-Moss was hired early in Django's development shortly before Simon Willison's internship ended. It was released publicly under a BSD license in July 2005. The framework was named after guitarist Django Reinhardt. Adrian Holovaty is a Romani jazz guitar player and a big fan of Django Reinhardt.</p>
<p>In June 2008, it was announced that a newly formed Django Software Foundation (DSF) would maintain Django in the future.</p>
{% endblock %}
